html {
    --main-bkg: radial-gradient(at top, #FFFFFF 0%, #ECEBEF 100%);
    --sec-bkg: #FFFFFF;

    --main-text: #55479F;
    --sec-text: #B1ACC1;

    --card-main-bkg: #7163BA;
    --card-sec-bkg: #FFFFFF;
    --card-third-bkg: #EA5F8B;

    --card-main-text: #FFFFFF;
    --card-sec-text: #55479F;
    --card-third-light-text: rgba(255, 255, 255, 0.3);
    --card-third-dark-text: #9A94B1;

    --card-main-icon-bkg: #7163BA;
    --card-main-icon-text: #FFFFFF;

    --card-sec-icon-bkg: rgba(255, 255, 255, 0.3);
    --card-sec-icon-text: #FFFFFF;

    --progress-bkg: #ECEBEF;
    --progress-main-current: #0FC03E;

    --btn-bkg-sec: #FBDFE8;
    --btn-text-sec: #EA5F8B;

    --tab-bkg-main: #ECEBEF;
    --tab-bkg-active: #7163BA;
    --tab-text-main: #9A94B1;
    --tab-text-active: #FFFFFF;
}
